<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginModel</servlet-name>
        <servlet-class>LoginModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersModel</servlet-name>
        <servlet-class>UsersModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetsModel</servlet-name>
        <servlet-class>AssetsModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsModel</servlet-name>
        <servlet-class>ReportsModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintenanceModel</servlet-name>
        <servlet-class>MaintenanceModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplacementModel</servlet-name>
        <servlet-class>ReplacementModel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginModel</servlet-name>
        <url-pattern>/LoginModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersModel</servlet-name>
        <url-pattern>/UsersModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetsModel</servlet-name>
        <url-pattern>/AssetsModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsModel</servlet-name>
        <url-pattern>/ReportsModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintenanceModel</servlet-name>
        <url-pattern>/MaintenanceModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplacementModel</servlet-name>
        <url-pattern>/ReplacementModel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
